/* #region Base */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #434455;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
}
/* #endregion Base */

/* #region Header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
  padding: 16px;
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .header-nav {
    width: 100%;
  }
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  text-decoration: none;
}

.logo-accent {
  color: #2e2f42;
}

.header-menu {
  display: flex;
  padding: 0;
  border: none;
  background: transparent;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .header-menu {
    display: none;
  }
}

.header-links {
  display: none;
  list-style-type: none;
}

@media only screen and (min-width: 768px) {
  .header-links {
    display: flex;
    gap: 40px;
    margin-right: 121px;
  }
}

@media only screen and (min-width: 1158px) {
  .header-links {
    margin-right: 331px;
  }
}

.header-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #2e2f42;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.header-link::after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  display: block;
  background: transparent;
  position: absolute;
  bottom: -15px;
}

.current {
  color: #404bbf;
}

.header-link.current::after {
  background-color: #404bbf;
}

.contacts-list {
  display: none;
}

@media only screen and (min-width: 768px) {
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-style: normal;
  }
}

@media only screen and (min-width: 1158px) {
  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .contacts-link {
    color: #434455;
    font-size: 12px;
    text-decoration: none;
    line-height: 1.16;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media only screen and (min-width: 1158px) {
  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* #endregion Header  */

/* #region Tagline */

.tagline-title {
  /* text-align: center; */
  color: #ffffff;
  background-color: rgba(46, 47, 66, 0.7);
  align-items: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  background-position: center;
  margin: 0 auto;
  padding: 72px 0;
  display: block;
}

.tagline {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.045em;
  max-width: 216px;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 72px;
}

@media screen and (min-resolution: 192dpi) {
  .tagline-title {
    background-color: rgba(46, 47, 66, 0.7);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .tagline {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 36px;
  }
  .tagline-title {
    padding: 112px 0;
  }
  .tagline-title {
    background-color: rgba(46, 47, 66, 0.7);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .tagline-title {
    background-color: rgba(46, 47, 66, 0.7);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .tagline {
    margin-bottom: 48px;
  }
  .tagline-title {
    padding: 188px 0;
  }
  .tagline-title {
    background-color: rgba(46, 47, 66, 0.7);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-resolution: 192dpi) {
  .tagline-title {
    background-color: rgba(46, 47, 66, 0.7);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desk2x.jpg);
  }
}

.btn {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
/* #endregion Tagline */

/* #region Anvantages */
.advantages-ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 72px;
}

@media only screen and (max-width: 1157px) {
  .advantages {
    padding: 96px 0;
  }
}

@media only screen and (min-width: 1158px) {
  .advantages {
    padding: 120px 0;
  }
}

.advantages-name {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-icon {
  display: none;
}

.advantages-list {
  font-weight: 500;
  line-height: 1.5;
  color: #434455;
}

@media only screen and (min-width: 768px) {
  .advantages-li {
    width: calc((100% - 24px) / 2);
  }
  .advantages-ul {
    gap: 72px 24px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .advantages-name {
    text-align: left;
  }
}

@media only screen and (min-width: 1158px) {
  .advantages-ul {
    gap: 24px;
    flex-direction: row;
  }
  .advantages-li {
    width: calc((100% - 72px) / 4);
  }
  .advantages-wrapper {
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    align-items: center;
    padding: 24px 0;
  }
  .advantages-icon {
    display: flex;
  }
  .advantages-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* #endregion Anvantages */

/* #region Team */

.team {
  background-color: #f4f4fd;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.11;
  padding: 96px auto;
}

.our-team {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  line-height: 1.11;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 72px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 24px;
}
.team-list {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.team-hero {
  padding: 32px 0;
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 8px;
}

.team-position {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.team-icons {
  height: 40px;
  width: 40px;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons:hover,
.team-icons:focus {
  background-color: #404bbf;
}

@media only screen and (min-width: 768px) {
  .our-team {
    padding-top: 96px;
  }
  .team-ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-bottom: 96px;
  }
  .team-li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
  .team-list {
    width: calc((100% - 72px) / 4);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
}

/* #endregion Team */

/* #region Portfolio */

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.title-portfolio {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  line-height: 1.11;
  color: #2e2f42;
  margin-bottom: 72px;
  text-align: center;
}

.portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 48px;
}

.portfolio-li {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover {
  background-color: #fff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-pic {
  position: relative;
  overflow: hidden;
}

.portfolio-div {
  border: 1px solid #e7e9fc;
  border-top: none;
  text-align: left;
  padding: 32px 16px;
}

.portfolio-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-work {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.overlay {
  position: absolute;
  transform: translateY(100%);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 40px 32px;
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover .overlay {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .portfolio-ul {
    flex-direction: row;
    gap: 24px;
    row-gap: 72px;
  }
  .portfolio-li {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .portfolio-ul {
    row-gap: 48px;
  }
  .portfolio-li {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* #endregion Portfolio */

/* #region Footer */

footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-cont {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  row-gap: 72px;
}

.footer > .container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
@media only screen and (max-width: 767px) {
  .footer > .container {
    text-align: center;
  }
}

footer .logo-ftr {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-flex;
  margin-bottom: 16px;
  text-decoration: none;
  align-items: center;
  flex-shrink: 0;
}
footer .logo-accent {
  color: #f4f4fd;
}

.ftr {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}
.cont-ftr-icons {
  margin-right: 80px;
}

.ftr-title {
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.ftr-ul {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 16px;
}

.ftr-icon {
  height: 40px;
  width: 40px;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ftr-icon:hover,
.ftr-icon:focus {
  background-color: #31d0aa;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  /* gap: 24px; */
}

.form-mail {
  width: 264px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

.form-mail::placeholder {
  color: #ffffff;
}

.subsc-butn {
  padding: 8px 16px;
  width: 165px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;

  background-color: #4d5ae5;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-subscribe {
  margin-left: 16px;
  fill: #ffffff;
}
.subsc-butn:hover,
.subsc-butn:focus {
  background-color: #404bbf;
}

@media only screen and (min-width: 768px) {
  .footer-form {
    flex-direction: row;
  }
  .subsc-butn {
    width: 100%;
    height: 40px;
  }
  .ftr-title {
    text-align: start;
  }
}

@media only screen and (min-width: 1158px) {
  footer {
    padding: 100px 0;
  }
  .form-mail {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }
  .cont-ftr-logo {
    margin-right: 120px;
  }
  .footer-cont {
    flex-direction: row;
    row-gap: 72px;
  }
}
/* #endregion Footer */
/* #region Modal window */

.backdrop.is-open {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transition: is-open 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  position: absolute;
  right: 24px;
  top: 24px;
  margin-bottom: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  color: #2e2f42;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.modal-form-wrapper {
  position: relative;
}

.modal-wrapper.form {
  margin-bottom: 16px;
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: #2e2f42;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-form:focus {
  display: block;
  padding-left: 38px;
  padding-right: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-form:focus + {
  border-color: #4d5ae5;
  color: #4d5ae5;
}

.input-form {
  display: block;
  padding-left: 38px;
  padding-right: 16px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus {
  border-color: #4d5ae5;
  color: #4d5ae5;
}

.input-form:focus + .icon-form {
  fill: #4d5ae5;
}
.textarea-field {
  display: block;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  outline: transparent;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea::placeholder,
.form-label,
.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.textarea-field:focus {
  border-color: #4d5ae5;
}

.form-label {
  display: block;
  margin-bottom: 4px;
}

.checkbox-privacy {
  margin-bottom: 24px;
}

.policy-link {
  font-size: 12px;
  line-height: 1.33;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  text-decoration: underline;
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
}

.checkbox-custom {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-privacy:checked + .checkbox-label .checkbox-custom {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.btn-sent {
  display: block;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.btn-sent:hover,
.btn-sent:focus {
  background-color: #404bbf;
}

/* #endregion Modal window */
/* #region Mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 72px 16px 40px;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
}

.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid #2e2f42;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  margin-bottom: 24px;
  cursor: pointer;
}

.mobile-menu-icon {
}
.mobile-menu-nav {
  margin-bottom: auto;
}
.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.mobile-menu-link.current {
  color: #404bbf;
}
.mobile-menu-contacts > li:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-menu-contacts a {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.mobile-menu-contacts > li:first-child > a {
  color: #4d5ae5;
}
.mobile-menu-media {
  height: 40px;
  width: 40px;
  background-color: #4d5ae5;
  fill: #f4f4fd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.mobile-menu-socials.socials {
  gap: 40px;
  flex-direction: row;
}

/* #endregion Mobile menu */
